@import url("../assets/fonts/Open Sans/stylesheet.css");
@import url("../assets/fonts/Poppins/stylesheet.css");
@import "./variables";
@import "./media";

// simple css reset.
* {
	margin: 0;
	padding: 0;
}

// * Link
a {
	text-decoration: none;
	color: $very-Dark-Cyan;
}
a.fw-700 {
	font-weight: 700;
	color: white;
	box-shadow: 0em 0.1em 0.4em rgba(0, 0, 0, 0.233);
	transition: box-shadow 0.2s ease-in-out;

	&:hover {
		box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.315);
	}
}

// * Heading
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headeing-family;
	font-weight: $headeing-weights;
	color: $very-Dark-Cyan;
}
h1 {
	// font-size: $h1;
}

// * normal text
p,
span {
	font-family: $body-family;
	font-weight: 500;
	color: $black;
}

:root {
	font-size: 16px;
	// , -apple-system, BlinkMacSystemFont, "Segoe UI",
	// 	Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

// * Template
.row {
	display: flex;

	// .col {

	// }
}

@mixin max-width {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	@content;
}

body {
	@include max-width;
	font-family: "Open Sans";

	@include media(">desktop") {
		box-shadow: .2em .2em .8em rgba(0, 0, 0, 0.233);
	}
}

header {

	nav {
		display: flex;
		justify-content: space-between;
		// background-color: salmon;
		padding: 2em 1.5em;

		@include media(">tablet") {
			padding: 3.5em 4em;
		}

		@include media(">mobile", "<tablet") {
			padding: 3.5em 3em;
		}

		// * mixin < 576 for nav
		@mixin query-mobile-576 {
			@include media(">mobile", "<576px") {
				@content;
			}
		}

		@include query-mobile-576 {
			padding: 3.5em 2em;
		}

		.nav-logo {
			display: block;
			height: 1em;

			@include media(">mobile", "<tablet") {
				height: 2em;
			}

			@include query-mobile-576 {
				height: 1.5em;
			}

			@include media(">tablet") {
				height: 2em;
			}

			img {
				height: 100%;
				// background-color: yellow;
			}
		}

		.nav-button {
			border: 1px solid $pink;
			border-radius: 2em;
			padding: 0.5em 2em;
			font-size: 0.6em;
			color: $pink;
			transition: 0.2s ease-in-out;

			@include media(">mobile", "<tablet") {
				padding: 0.5em 2em;
				font-size: 1em;
			}

			@include query-mobile-576 {
				padding: 0.5em 2em;
				font-size: 0.8em;
			}

			@include media(">tablet") {
				padding: 0.5em 2em;
				font-size: 1em;
			}

			&:hover {
				background-color: $pink;
				color: white;
			}
		}
	}
}

main {
	min-height: 100vh;
	@include flex-column-center;
	padding: 7em 0;

	.landing-section {
		
		@include flex-column-center;
		// background-color: aqua;
		width: 100%;
		box-sizing: border-box;
		padding: 0 2em 3em;

		@mixin query-mobile-640 {
			@include media(">mobile", "<=640px") {
				@content;
			}
		}

		@include query-mobile-640 {
			margin-bottom: 3em;
		}

		&-title {
			text-align: center;
			line-height: 1.4;
			margin-bottom: 1em;

			@include media(">mobile", "<tablet") {
				font-size: 2em;
				line-height: 1.4;
				margin: 0 4em;
				margin-bottom: 1em;
			}

			@include query-mobile-640 {
				font-size: 2em;
				line-height: 1.4;
				margin: 0;
				margin-bottom: 0.5em;
			}

			@include media(">tablet") {
				font-size: 3em;
				line-height: 1;
				margin-top: 8em;
				margin-bottom: 0.5em;
			}
		}

		&-overview {
			text-align: center;
			margin-bottom: 3em;
			font-weight: 500;
			font-size: 0.9em;

			@include media(">mobile", "<tablet") {
				width: 65%;
				font-size: 1em;
				margin-bottom: 2em;
			}

			@include query-mobile-640 {
				width: 75%;
				font-size: 1em;
				margin-bottom: 2em;
			}

			@include media(">tablet") {
				width: 55%;
				font-size: 1.5em;
			}
		}

		&-button {
			display: inline-block;
			padding: 1em 3em;
			font-size: 0.8em;
			background-color: $pink;
			border-radius: 2em;
			margin-bottom: 6em;

			@include media(">mobile", "<tablet") {
				margin-bottom: 10em;
			}

			@include media(">tablet") {
				padding: 1em 4em;
				font-size: 1.3em;
			}
		}

		&-image {
			width: 95%;

			@include media(">mobile", "<tablet") {
				width: 85%;
			}

			@include media(">tablet") {
				width: 75%;
			}
		}
	}

	.count-section.row {
		
		display: flex;
		flex-direction: column;
		margin-bottom: 3em;

		@include media(">mobile", "<tablet") {
			margin: 5em 0 10em;
			flex-direction: row;
			justify-content: space-between;
			width: 65%;
		}

		// * 510px break point
		@mixin query-mobile-510 {
			@include media(">mobile", "<=510px") {
				@content;
			}
		}

		@include query-mobile-510 {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 65%;
			margin-bottom: 10em;
		}

		@include media(">tablet") {
			margin: 5em 0 10em;
			flex-direction: row;
			justify-content: space-between;
			width: 65%;
		}

		@include media(">desktop") {
			justify-content: space-evenly;
		}

		.col {
			.number-icon {
				width: 15%;

				@include media(">mobile", "<tablet") {
					width: 25%;
				}

				@include query-mobile-510 {
					width: 20%;
				}
			}

			.number {
				font-size: 4em;
				font-weight: 600;
				line-height: 1.2;

				@include media(">mobile", "<tablet") {
					font-size: 3em;
				}

				@include query-mobile-510 {
					font-size: 4em;
				}

				@include media(">tablet") {
					font-size: 6em;
				}
			}

			.number-description {
				display: inline-block;
				width: 100%;
				text-align: center;
				margin: 0 auto;
				color: gray;
				margin-bottom: 4em;

				@include media(">mobile", "<tablet") {
					font-size: 1em;
				}

				@include query-mobile-510 {
					font-size: 1em;
				}

				@include media(">tablet") {
					font-size: 1.5em;
				}
			}
		}
	}

	.info-section {
		.info.row {
			$mobile-query: 640px;

			flex-direction: column-reverse;
			background-color: #f6fbff;
			// background-color: red;
			margin-bottom: 10em;
			padding: 3em 0 2em;
			position: relative;

			@include media(">#{$mobile-query}", "<tablet") {
				flex-direction: row;
				box-sizing: border-box;
				padding: 3em;
			}

			@include media(">tablet") {
				flex-direction: row;
				box-sizing: border-box;
				padding: 3em 7em;
				// padding: 0.5em 2em;
				// font-size: 1em;
			}

			// * general background style
			&::before {
				$height: 7em;
				top: 0-$height;
				height: $height;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				background-repeat: no-repeat;
				background-image: url(../assets/images/bg-section-top-mobile-1.svg);

				@include media(">mobile", "<tablet") {
					$height: 10em;
					top: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-top-desktop-1.svg);
				}

				@include media(">tablet") {
					$height: 10em;
					top: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-top-desktop-1.svg);
				}

				@include media(">desktop") {
					background-size: cover;
				}
			}

			&::after {
				$height: 5em;
				bottom: 0-$height;
				height: $height;
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				background-repeat: no-repeat;
				background-image: url(../assets/images/bg-section-bottom-mobile-1.svg);

				@include media(">mobile", "<tablet") {
					$height: 20em;
					bottom: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-bottom-desktop-1.svg);
				}

				@include media(">tablet") {
					$height: 20em;
					bottom: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-bottom-desktop-1.svg);
				}

				@include media(">desktop") {
					background-size: cover;
				}
			}

			// ! exception for second child
			&:nth-child(2) {
				margin: 8em 0;
				background-color: white;

				@include media(">#{$mobile-query}", "<tablet") {
					flex-direction: row-reverse;
					margin: 12em 0;

					.info-img-container {
						align-items: flex-start;
					}
				}

				@include media(">tablet") {
					margin: 16em 0;
					flex-direction: row-reverse;

					.info-img-container {
						align-items: flex-start;
					}
				}

				&::before {
					background-image: none;
				}
				&::after {
					background-image: none;
				}
			}

			// * third child
			&:nth-child(3) {
				&::before {
					$height: 6em;
					top: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-top-mobile-2.svg);

					@include media(">mobile", "<tablet") {
						$height: 9em;
						top: 0-$height;
						height: $height;
						background-image: url(../assets/images/bg-section-top-desktop-2.svg);
					}

					@include media(">tablet") {
						$height: 9em;
						top: 0-$height;
						height: $height;
						background-image: url(../assets/images/bg-section-top-desktop-2.svg);
					}
				}
				&::after {
					$height: 7em;
					bottom: 0-$height;
					height: $height;
					background-image: url(../assets/images/bg-section-bottom-mobile-2.svg);

					@include media(">mobile", "<tablet") {
						$height: 10em;
						bottom: 0-$height;
						height: $height;
						background-image: url(../assets/images/bg-section-bottom-desktop-2.svg);
					}

					@include media(">tablet") {
						$height: 10em;
						bottom: 0-$height;
						height: $height;
						background-image: url(../assets/images/bg-section-bottom-desktop-2.svg);
					}
				}
			}

			.col {
				box-sizing: border-box;

				@include media(">#{$mobile-query}", "<tablet") {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
				}

				@include media(">tablet") {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
				}
			}

			.info-description {
				text-align: center;
				padding: 0 2em;
				font-weight: 400;
				font-size: 0.9em;

				@include media(">#{$mobile-query}", "<tablet") {
					padding: 0;
					width: 50%;
					text-align: left;
					box-sizing: border-box;
				}

				@include media(">tablet") {
					padding: 0;
					width: 50%;
					text-align: left;
					box-sizing: border-box;
				}

				h3 {
					margin-bottom: 1em;
					font-size: 1.3em;

					@include media(">mobile") {
						font-size: 1.5em;
					}

					@include media(">#{$mobile-query}") {
						display: block;
						margin-bottom: 0.2em;
						font-size: 2em;
						line-height: 1;
					}

					@include media(">tablet") {
						margin-bottom: 0.5em;
						font-size: 3em;
					}
				}

				p {
					@include media(">mobile") {
						display: inline-block;
						font-size: 1.1em;
						padding: 0 3em;
					}

					@include media(">#{$mobile-query}") {
						text-align: left;
						font-size: 1.1em;
						padding: 0;
					}

					@include media(">tablet") {
						font-size: 1.2em;
						padding: 0;
					}
				}
			}

			.info-img-container {
				display: flex;
				justify-content: center;

				@include media(">mobile") {
					margin-bottom: 5em;
				}

				@include media(">#{$mobile-query}") {
					align-items: flex-end;
					width: 50%;
				}

				@include media(">tablet") {
					align-items: flex-end;
					width: 50%;
				}
				.info-images {
					width: 70%;

					@include media(">#{$mobile-query}") {
						width: 80%;
					}

					@include media(">tablet") {
						width: 90%;
					}
				}
			}
		}
	}

	.get-started-section {
		text-align: center;
		margin-bottom: 4em;
		padding: 3em;

		@include media(">tablet") {
			margin-bottom: 0;
			padding: 8em 0;
			margin-bottom: 10em;
		}

		h2 {
			margin-bottom: 1em;

			@include media(">mobile") {
				font-size: 2em;
				line-height: 1;
				margin-bottom: 0.5em;
			}

			@include media(">tablet") {
				font-size: 2.5em;
				line-height: 1;
				margin-bottom: 1em;
			}
		}

		&-button {
			display: inline-block;
			padding: 1em 2.5em;
			background-color: $pink;
			font-size: 0.8em;
			border-radius: 2em;

			@include media(">tablet") {
				padding: 1em 4em;
				font-size: 1.3em;
			}
		}
	}
}

footer.row {
	

	flex-direction: column-reverse;
	position: relative;
	background-color: $very-Dark-Cyan;
	color: white;
	padding: 2em;

	@include media(">490px") {
		flex-direction: row;
		padding: 5em 3em;
		justify-content: space-between;
	}

	@include media(">tablet") {
		flex-direction: row;
		padding: 5em 7em;
		justify-content: space-between;
	}

	.col {

		p,
		a,
		span {
			color: #f6fbff;
		}

		@include media(">490px") {
			width: 45%;
		}

		@include media(">desktop") {
			width: 30%;
		}

		// * left / bottom
		&.left {
			@include media(">tablet") {
				margin-bottom: 0em;
			}

			.footer-logo {
				height: 1.5em;
				display: block;
				margin-bottom: 1em;

				@include media(">tablet") {
					height: 2.5em;
					margin-bottom: 2em;
				}

				img {
					height: 100%;
					filter: grayscale(100%) brightness(100%) invert(100%);
					/* svg on an img tag */
					// -webkit-filter: invert(0.75); /* safari 6.0 - 9.0 */
					// filter: invert(0.75);
					fill: #f6fbff;
				}
			}

			p {
				font-size: 0.9em;
				font-weight: 600;
				margin-bottom: 2em;
			}

			.conntact-group {
				display: block;
				display: flex;
				align-items: center;
				// background-color: saddlebrown;
				margin-bottom: 1em;

				.contact-icon {
					// background-color: aqua;
					// height: 2em;
					width: 2em;
					margin-right: 0.5em;
				}

				span {
					display: inline-block;
					// background-color: yellow;
				}
			}

			.social-media {
				margin-top: 3em;
				&-ul {
					display: flex;
					list-style: none;

					li a {
						display: inline-block;
						margin-right: 1.5em;

						i {
							height: 2em;

							@include media(">tablet") {
								height: 0em;
								font-size: 2em;
								// margin-bottom: 2em;
							}
						}
					}
				}
			}
		}

		// * right/top
		&.right {
			margin-bottom: 5em;

			@include media(">desktop") {
				width: 40%;
				margin-bottom: 0em;
			}

			h3 {
				margin-bottom: 1em;
				color: #f6fbff;

				@include media(">desktop") {
					font-size: 1.6em;
				}
			}

			p {
				margin-bottom: 2em;
				font-weight: 500;
				font-size: 0.9em;

				@include media(">desktop") {
					font-size: 1em;
					font-weight: 550;
				}
			}

			form {
				.input-group {
					@include media(">desktop") {
						display: flex;
					}

					input {
						box-sizing: border-box;
						padding: 1em;
						width: 100%;
						margin-bottom: 1em;

						@include media(">desktop") {
							margin-bottom: 0;
						}
					}

					button {
						display: block;
						color: white;
						font-weight: 700;
						border-radius: 0.5em;
						outline: none;
						border: none;
						cursor: pointer;
						margin-left: auto;
						padding: 1em 3em;
						background-color: $pink;

						@include media(">desktop") {
							margin-left: 2em;
						}
					}
				}
			}
		}
	}

	&::before {
		$height: 3em;
		top: 0-$height;
		height: $height;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		background-repeat: no-repeat;
		background-image: url(../assets/images/bg-footer-top-mobile.svg);

		@include media(">phone") {
			$height: 5.2em;
			top: 0-$height;
			height: $height;
			background-image: url(../assets/images/bg-footer-top-desktop.svg);
			background-size: cover;
		}

		@include media(">tablet") {
			$height: 9.5em;
			top: 0-$height;
			height: $height;
			background-image: url(../assets/images/bg-footer-top-desktop.svg);
		}
	}
}
